/* DECLARACIONES UNIVERSALES */
* {
margin:0; 
padding:0 ;
font-family:Verdana, Arial, Helvetica, sans-serif;
color: #36434C;
}
a { 
text-decoration: none;
}
a:hover { 
text-decoration: none;
}
img { 
border: 0;
}
.columna-central { 
font-size: 12px;
}

body {
margin:0;
/*background:#DCEDF6;*/

}



/* CONTENEDORES PRINCIPALES */

.contenedor_sombra { 
width: 810px;
margin: 0px auto;
height: auto;
/*background:#C4D4DC;*/

}

.contenedor { 
width: 790px;
height: auto;
margin: 0px auto;
background:#FFFFFF;
border:#A30404 1px solid;

}

#contenido { /*modificado*/
width:790px;
float: left;
background:#FFFFFF;
margin-bottom: 15px;
/*border:#990000 1px solid;*/
}

.columna-izquierda { 
width: 190px;
float: left;
background:#FFFFFF;
/*margin-top: 8px;
border:#990000 1px solid;*/
margin-top: 10px;
}

.columna-central { 
width: 380px;
float: left;
/*border:#CC0000 solid 1px;*/
background:#FFFFFF;
margin-top: 5px;
margin-left:20px;
}

.columna-derecha {
width: 180px; 
float: left;
background:#FFFFFF;
/*border:#CC0000 solid 1px;*/
margin-top: 5px;
margin-left:5px;
}

.marquesina{
margin-top: 5px;
width: 600px;
height:20px;
float: left;
background: #FFFFFF;
}

/* CONTEDORES */

.scroll{
width: 785px;
height: 350px;
overflow:auto;
/*border:#CC0000 solid 1px;*/

}

.interes { 
width: 385px;
float: left;
background:#FFFFFF;
/*border:#990000 solid 1px;*/
}

.eventos { 
width: 385px;
float: left;
background:#FFFFFF;
/*border:#990000 solid 1px;*/
}

.efemerides { 
width: 270px;
float: left;
background:#FFFFFF;
/*border:#990000 solid 1px;*/
}

.enlaces { 
width: 185px;
float: left;
background:#FFFFFF;
/*border:#990000 solid 1px;*/
}

.encuesta { 
width: 185px;
float: left;
background:#FFFFFF;
/*border:#990000 solid 1px;*/
}

.aldia { 
width: 185px;
float: left;
background:#FFFFFF;
margin-top: 10px;
/*border:#990000 solid 1px;*/
}

.frase { 
width: 547px;
float: left;
background:#FFFFFF;
/*border:#990000 solid 1px;*/
}

/*.inicio{
width:14px;
height:18px;
background:url(imagenes/inicio.gif) no-repeat;
float:right;
margin-right: 10px;
cursor: hand;
}
*/

/* LOGO */

.logo-top { 
width: 790px; 
height: 80px;
background:url(imagenes/top_legal.jpg) no-repeat top;
float:left;
}

.logo{
width: 790px; 
height: 96px;
/*background:url(imagenes/top_educacion.jpg) no-repeat center;*/
float:left;
}

.logo img { 
border: 0;
}

.educacion{
width: 260px;
height: 96px;
float:right;
}

/* PIE DE PAGINA */

#footer { 
/*background: #fff url(imagenes/footer.jpg) center no-repeat;*/
width: 790px;
height: 41px;
font-size: 11px;
text-align: center;
clear: both;
padding-top: 10px;
background: #A30404;
/*background:#A7BBC6;*/
padding-bottom: 10px;

}

#footer p{
margin-left:10px;
/*color: #131D22;*/
color:#FFFFFF;
}

.footer a { 
font-weight: bold;
color:#FFFFFF;
}

/* CONTENEDORES LOGIN*/
/* Show only to IE PC \*/
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */

.sidelogin {
	/*margin: 0 auto;  center for now */
	width: 180px; /* ems so it will grow */
	height: 170px;
	background: #FFF2BD url(imagenes/linea1.jpg) repeat-y left;
	/*background: #FFF2BD;*/
	font-size: 12px;
	margin-bottom:10px;
	/*border:#FFB700 solid 3px;*/
	margin-left: 5px;
}
.loginhead {
	margin: 0;
	padding: 0;
	text-align: center;
}
.loginhead h2 {
	margin: 0;
	padding: 22px 30px 5px;
	color: #FFFFFF;  
	font-weight: bold; 
	font-size: 13px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.loginbody {
	margin: 0;
	/*padding: 5px 20px 31px;*/
	margin-left: 15px;
}

.loginbody .etiqueta {
	font:bold 13px Verdana;
	float:left;
}

.loginbody  .campo {
	border: 1px solid #5E5E5E;
	width: 90px;
	margin-bottom: 5px;
	float:left;
}
.loginbody  .boton {
	margin-top: 5px;
	margin-bottom: 4px;
	width: 60px;
	margin-left: 40px;
	color: #2A4150;
	font-weight: bold;
	font-size: 12px;
	background: url(imagenes/fondo-boton.jpg) repeat-x;
	/*border-style: outset;*/
}

.loginbody .izquierda{
text-align:left;
float:left;
font:bold 11px Verdana;
margin-top: 5px;
}


.loginbody .derecha{
text-align:right;
float:left;
margin-left: 40px;
font:bold 11px Verdana;
margin-top: 5px;
}

.loginbody .izquierda2{
width: 100px;
text-align:left;
font:bold 11px Verdana;
margin-top: 5px;
}
.loginbody .titulo {
	font-size: 12px;
     color: #A40605;
}


/*CONTENEDOR CORREO*/
.correo {
	/*margin: 0 auto;  center for now */
	width: 180px; /* ems so it will grow */
	height: 170px;
	background: #F2C0C1 url(imagenes/linea3.jpg) repeat-y left;
	/*background: #F2C0C1;*/
	margin-bottom:10px;
	/*border:#C2080C solid 3px;*/
	margin-left: 5px;

}

.correobody {
	margin: 0;
	font-size: 13px;
	font-weight:bold;
	text-align:left;
}

/*CONTENEDOR MENU*/
.menu_izquierdo {
	/*margin: 0 auto;  center for now */
	width: 180px; /* ems so it will grow */
	background: #BED4EB url(imagenes/linea2.jpg) repeat-y left;
	/*background: #BED4EB;*/
	margin-bottom:10px;
	/*border:#003E9F solid 3px;*/
	margin-left: 5px;
}

.menubody {
	margin: 0;
	/*padding: 5px 20px 31px;*/
	font-size: 13px;
	font-weight:bold;
	text-align:left;
	
}


/* CONTENEDOR INTERES*/
/* Show only to IE PC \*/
* html .intereshead h2 {height: 1%;} /* For IE 5 PC */

.sideinteres {
	margin:0;  /*center for now */
	width: 380px;
	font-size: 12px;
}
.intereshead {
	/*background:#B5C6CF;*/
	background:#A30404;
	margin: 0;
	padding: 0;
	text-align: left;
}
.intereshead h2 {
	margin: 0;
	padding: 8px 10px 5px;
	/*color: #2A4150; */
	color:#FFFFFF;  
	font-size: 15px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.interesbody {
	margin: 0;
	padding: 5px 10px 31px;
}

.interesbody .titulo {
	font-size: 12px;
	/*color:#660000;*/
}
.interesbody .ver {
	padding-left: 10px;
	text-align: left;
	font-size: 11px;
	color: #A40605;
	background:url(imagenes/ver.jpg) left no-repeat;
	font-weight:bold;
}

/* CONTENEDOR EVENTOS*/
/* Show only to IE PC \*/
* html .eventoshead h2 {height: 1%;} /* For IE 5 PC */

.sideeventos {
	margin:0;  /*center for now */
	width: 380px;
	font-size: 12px;
}
.eventoshead {
	/*background:#B5C6CF;*/
	background:#A30404;
	margin: 0;
	padding: 0;
	text-align: left;
}
.eventoshead h2 {
	margin: 0;
	padding: 8px 10px 5px;
	/*color: #2A4150; */
	color:#FFFFFF;  
	font-size: 15px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.eventosbody {
	margin: 0;
	padding: 5px 10px 31px;
}

.foto { 
	/*border: 1px solid #660000 ;
	padding: 2px;*/
	margin-top: 5px;
	margin-left:55px;
	clear: both;
	/*width:312px;
	height:234px;*/
	margin-bottom: 10px;
}

.eventosbody .texto {
	font-size: 12px;
	margin-top: 5px;
	text-align:justify;
}

.eventosbody .titulo {
	font-size: 12px;
	/*color:#660000;*/
}
.eventosbody .ver {
	padding-left: 10px;
	text-align: left;
	font-size: 11px;
	color: #A40605;
	background:url(imagenes/ver.jpg) left no-repeat;
	font-weight:bold;
}

.ver_plan  {
	padding-left: 10px;
	text-align: left;
	font-size: 11px;
	color: #A40605;
	background:url(imagenes/ver.jpg) left no-repeat;
	font-weight:bold;
	margin-left: 270px;
	margin-bottom: 20px;
}

#ver {
	padding-left: 10px;
	text-align: left;
	font-size: 11px;
	color: #A40605;
	background:url(imagenes/ver.jpg) left no-repeat;
	font-weight:bold;
}


/* CONTENEDORES ENLACES*/
/* Show only to IE PC \*/
* html .enlaceshead h2 {height: 1%;} /* For IE 5 PC */

.sideenlaces {
	width: 185px; /* ems so it will grow */
	font-size: 12px;
}
.enlaceshead {
	/*background:#B5C6CF;*/
	background:#A30404;
	margin: 0;
	padding: 0;
	text-align: left;
}
.enlaceshead h2 {
	margin: 0;
	padding: 8px 10px 5px;
	/*color: #2A4150; */
	color:#FFFFFF;  
	font-weight: bold; 
	font-size: 15px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.enlacesbody {
	margin: 0;
	/*padding: 5px 0px 31px;*/
}

.imagen-enlaces{
width:169px;
height:80px;
margin-top: 10px;
/*border:#C7D7DD 2px solid;*/
border:#A30404 2px solid;

}

/* CONTENEDORES AL DIA*/
/* Show only to IE PC \*/
* html .aldiahead h2 {height: 1%;} /* For IE 5 PC */

.sidealdia {
	margin-top: 10px;
	width: 185px; /* ems so it will grow */
}
.aldiahead {
	/*background:#B5C6CF;*/
	background:#A30404;
	margin: 0;
	padding: 0;
	text-align: left;
}
.aldiahead h2 {
	margin: 0;
	padding: 8px 10px 5px;
	/*color: #2A4150; */
	color:#FFFFFF;  
	font-weight: bold; 
	font-size: 15px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.aldiabody {
	margin: 0;
	font-weight: bold; 
	font-size: 11px; 
	/*height: 120px;
	padding: 5px 0px 31px;*/
}


/* CONTENEDORES ENCUESTA*/
/* Show only to IE PC \*/
* html .encuestahead h2 {height: 1%;} /* For IE 5 PC */

.sideencuesta {
	margin-top: 10px;
	width: 185px; /* ems so it will grow */
}
.encuestahead {
	/*background:#B5C6CF;*/
	background:#A30404;
	margin: 0;
	padding: 0;
	text-align: left;
}
.encuestahead h2 {
	margin: 0;
	padding: 8px 10px 5px;
	/*color: #2A4150; */
	color:#FFFFFF;  
	font-weight: bold; 
	font-size: 15px; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.encuestabody {
	margin: 0;
	font-weight: bold; 
	font-size: 11px; 
	/*height: 120px;
	padding: 5px 0px 31px;*/
}


#topbar{

font-size: 12px;
position:absolute;
border: 1px solid black;
padding: 5px;
/*background-color: #F0F0F0;*/
background-color:#FFFFFF;
width: 300px;
visibility: hidden;
z-index: 400;
filter:alpha(opacity=90);
-moz-opacity:.90;
opacity:.90;
}

.cont_video{
width: 4000px;
height:auto;
border:#990000 1px solid;
margin-top: 20px;
margin-left: 10px;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
text-align:center;
font-size: 12px;
margin-bottom: 10px;
}

.cont_video .lista{
width: 170px;
height:240px;
margin-right: 15px;
float:right;
overflow:auto;
text-align:left;
}

.play{
width: 150px; 
height: 70px;
background:url(imagenes/estatus/video.jpg) no-repeat center;
cursor:hand;

}

.play p.time {
	padding-top:5px;
	padding-left:5px;
	color:#777;
	font-size: 11px;
	font-weight:bold;
} 

.ver_nota{
width: 680px;
height: 500px;
font-size: 12px;
margin-left: 50px;
background: #f9f9f9;
filter:alpha(opacity=85);
-moz-opacity:.85;
opacity:.85;
border: 1px solid #BED4EB;
padding: 10px;
overflow:auto;
}

.ver_nota p{
margin-top: 12px;

}

.ver_nota_volver{
margin-left: 50px;
}




