#slider {
    width: 512px; /* important to be same as image width */
    height: 183px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}

#sliderContent {
    width: 512px; /* important to be same as image width or wider */
    position: relative;
	top: 0;
	margin-left: 0;
}

.sliderImage {
    float: left;
    position: relative;
	display: none;
}

.sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
	padding: 10px;
	padding: 10px;
    width: 502px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
	text-align:left;
	height: 60px;
}

.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}

.top {
	top: 0;
	left: 0;
}

.bottom {
	bottom: 0;
    left: 0;
}

ul { list-style-type: none;}