.shadetabs{
padding: 1px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
/*font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif, Geneva;
font-variant:small-caps;*/
font-size: 11px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 5px 9px;
margin-right: 1px;
color: #333333;
background-color: #EAE9E9;
border:#ffffff 1px solid;
border-left: 6px solid #EAE9E9;
border-right: 6px solid #EAE9E9;
-moz-border-radius-topleft: 12px;
-moz-border-radius-topright: 12px;
-khtml-border-radius-topleft: 12px;
-khtml-border-radius-topright: 12px;
-webkit-border-radius-topleft: 12px;
-webkit-border-radius-topright: 12px;
}

/*.shadetabs li a:visited{
border-bottom: 1px solid #ffffff;
color: #2d2b2b;
} */

.shadetabs li a:hover{
text-decoration: none;
color: #000000;
}

.shadetabs li.selected{
position: relative;
top: 3px;
}

.shadetabs li.selected a{ /*selected main tab style */
background-color: #FFFFFF;
border-left: 6px solid #FFFFFF;
border-right: 6px solid #FFFFFF;
-moz-border-radius-topleft: 12px;
-moz-border-radius-topright: 12px;
-khtml-border-radius-topleft: 12px;
-khtml-border-radius-topright: 12px;
-webkit-border-radius-topleft: 12px;
-webkit-border-radius-topright: 12px;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontentstyle{ /*style of tab content container*/
/*border: 1px solid gray;*/
width: auto;
margin-bottom: 1em;
padding: 0px;
}

.tabcontent{
display:none;
padding: 5px;
color:#2E2E2E;
background-color: #FFFFFF;
font-size:11px;
border: 1px solid #9A9A9A;
}


@media print {
.tabcontent {
	display:block!important;
	
}
}
